<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo List</title>
  </head>
  <body>
    <div id="app">
      <h1>Todo List</h1>
      <ol>
        <li v-for="(todos, index) in todo" :key="index">{{ todos }}</li>
      </ol>
      <input v-model="newTodo" @keyup.enter="addTodo" />
      <button @click="addTodo">
        Add
      </button>
      <p v-if="todo.length >= 4">Great!</p>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
      new Vue({
        el: '#app',
        data: {
          todo: [],
          newTodo: ""
        },
        methods: {
          addTodo(){
            if(this.newTodo.trim()!==""){
              this.todo.push(this.newTodo.trim());
              this.newTodo = "";
            }
          }
        }
      })
    </script>
  </body>
</html>